version: '2.2'

services:
  auth-db:
    image: apache/couchdb:2.1.1
    volumes:
      - '/opt/couchdb/data/auth:/opt/couchdb/data'
  main-db:
    image: apache/couchdb:2.1.1
    volumes:
      - '/opt/couchdb/data/main:/opt/couchdb/data'
  events-db:
    image: apache/couchdb:2.1.1
    volumes:
      - '/opt/couchdb/data/events:/opt/couchdb/data'
  notifications-db:
    image: apache/couchdb:2.1.1
    volumes:
      - '/opt/couchdb/data/notifications:/opt/couchdb/data'
  archive-db:
    image: apache/couchdb:2.1.1
    volumes:
      - '/opt/couchdb/data/archive:/opt/couchdb/data'
  public-db:
    image: apache/couchdb:2.1.1
    volumes:
      - '/opt/couchdb/data/public:/opt/couchdb/data'
  shared-db:
    image: apache/couchdb:2.1.1
    volumes:
      - '/opt/couchdb/data/shared:/opt/couchdb/data'
  anonymous-db:
    image: apache/couchdb:2.1.1
    volumes:
      - '/opt/couchdb/data/anonymous:/opt/couchdb/data'
  auth-app:
    image: bizzotech/kunafa-auth-app:v0.1.2
    environment:
      - FBSECRET
    depends_on:
      - auth-db
      - public-db
  proxy-server:
    image: bizzotech/kunafa-proxy-server:v0.1.1
    environment:
      - DOMAIN
    ports:
      - ${PORT}:80
    depends_on:
      - auth-db
      - main-db
      - events-db
      - notifications-db
      - archive-db
      - public-db
      - shared-db
      - anonymous-db
  init:
    image: bizzotech/kunafa-init:v0.1.1
    restart: on-failure
  eventbus:
    image: bizzotech/kunafa-eventbus:v0.1.1
