version: '2.2'

services:
  auth-db:
    image: couchdb:2.1.2
    volumes:
      - auth-db-data:/opt/couchdb/data
  main-db:
    image: couchdb:2.1.2
    volumes:
      - main-db-data:/opt/couchdb/data
  events-db:
    image: couchdb:2.1.2
    volumes:
      - events-db-data:/opt/couchdb/data
  notifications-db:
    image: couchdb:2.1.2
    volumes:
      - notifications-db-data:/opt/couchdb/data
  archive-db:
    image: couchdb:2.1.2
    volumes:
      - archive-db-data:/opt/couchdb/data
  public-db:
    image: couchdb:2.1.2
    volumes:
      - public-db-data:/opt/couchdb/data
  shared-db:
    image: couchdb:2.1.2
    volumes:
      - shared-db-data:/opt/couchdb/data
  anonymous-db:
    image: couchdb:2.1.2
    volumes:
      - anonymous-db-data:/opt/couchdb/data
  proxy-server:
    image: bizzotech/kunafa-proxy-server:v0.1.4
    volumes:
      - './nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf'
    environment:
      - DOMAIN
    ports:
      - ${PORT}:80
    depends_on:
      - auth-db
      - main-db
      - events-db
      - notifications-db
      - archive-db
      - public-db
      - shared-db
      - anonymous-db
  init:
    image: bizzotech/kunafa-init:v0.1.3
    restart: on-failure
  eventbus:
    image: bizzotech/kunafa-eventbus:v0.1.2


volumes:
  auth-db-data:
  main-db-data:
  events-db-data:
  notifications-db-data:
  archive-db-data:
  public-db-data:
  shared-db-data:
  anonymous-db-data: